.App {
  text-align: center;
}

.ulHeader {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.headerAbout {
  font-size: 75px;
}

.aboutBody {
  text-align: left;
}
.aboutBodyHeader {
  text-align: left;
  font-family: 'Dosis', sans-serif;
}
.aboutPageh {
  text-align: center;
}
.contactMeForm {
  justify-content: left;
  align-items: center;
  text-align: center;
}